@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Noto+Sans&display=swap");

.search-from_button,
.header_functions_add_teacher,
.add-btn {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ff5e5e;
  color: #ff5e5e;
  font-weight: bold;
  background-color: #fff;
}

.search-from_button {
  font-size: 0.9rem;
  width: 31%;
}

.header_functions_add_teacher {
  width: 17%;
  font-size: 1.38rem;
}

.add-btn {
  background-color: #fff;
  height: 8vh;
  width: 100%;
  font-size: 4vh;
}

.search-from_button:hover,
.header_functions_add_teacher:hover,
.add-btn:hover {
  background-color: #ff5e5e;
  color: #fff;
}

.wrapper {
  background-color: #fafafa;
  margin: auto;
  width: 84%;
  display: grid;
  font-size: 14px;
  font-family: 'Blinker', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.main-content {
  background-color: #fff;
  width: 94%;
  margin: auto;
  padding: 40px 7.7%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.header_top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 39px;
}

.logo {
  color: #f8f8f8;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3.45rem;
  text-shadow: -2px -1px 0 #ff5e5e, 2px 1px 0 #000;
}

.logo:hover {
  text-shadow: -3px -1px 0 #ff5e5e, 3px 1px 0 #000;
}

.search-from {
  width: 30.4%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.search-from_input {
  width: 63%;
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
  padding-left: 2%;
}

.functions {
  display: flex;
  justify-content: space-between;
  height: 52px;
  line-height: 52px;
  font-size: 1.5rem;
  color: #ff5e5e;
}

.header_functions_navigation {
  width: 46%;
  font-size: 1.4rem;
}

.header_functions_navigation_list {
  display: flex;
  justify-content: space-between;
}

.header_functions_navigation_link {
  cursor: pointer;
}

.top .header_functions_navigation_link:hover {
  color: #ab1919;
}

.line {
  width: 50%;
  height: 1px;
  background-color: #000;
  border: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 34px;
}

.top-teachers {
  font-size: 1rem;
  margin-bottom: 60px;
}

.top-teachers .favorite::before {
  color: yellow;
  position: absolute;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 10px;
  content: '\2605';
}

.blured {
  filter: blur(2px);
}

.headers {
  font-size: 2.2rem;
}

.filter-form {
  position: relative;
  margin-top: 40px;
  margin-bottom: 14px;
  text-align: left;
  font-size: 0.98rem;
  width: 50%;
}

.filter-form_input.with_photo {
  margin-left: 3.6%;
}

.filter-form_input.favorites {
  margin-left: 4.2%;
}

.filter-form_label {
  font-size: 0.92rem;
}

.filter-form_label.with_photo {
  border-right: 2px dotted #676767;
  padding-right: 8.4%;
}

.teacher-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
}

.person-info {
  list-style: none;
}

.person {
  margin: 0;
  width: 100%;
}

.img-wrapper {
  cursor: pointer;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #ff5e5e;
  margin: auto;
  margin-bottom: 20px;
  line-height: 120px;
  color: #ff5e5e;
  font-size: 2rem;
}

.img-wrapper:hover {
  border: 4px solid #ab1919;
  font-size: 2.2rem;
  color: #ab1919;
}

.img {
  width: 100%;
  height: 100%;
  color: #ff5e5e;
  text-align: center;
}

.img:hover {
  transform: scale(1.1, 1.1);
}

.fullname {
  font-size: 1.5rem;
  line-height: 30px;
}

.country {
  font-size: 0.7rem;
}

.statistics-table {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
  height: 100%;
  line-height: 100%;
}

.table-header:hover {
  border-bottom: 5px solid #000;
  background-color: #ebebeb;
}

.column-name {
  height: 46px;
  line-height: 46px;
}

.table-row {
  width: 100%;
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.columns {
  border-bottom: 1px solid #000;
}

.name-coll {
  text-align: left;
  width: 36%;
  padding-left: 20px;
}

.columns .name-coll {
  padding-left: 0;
}

.columns .name-coll .table-header {
  justify-content: left;
  padding-left: 20px;
}

.even {
  background-color: rgba(251, 243, 243, 0.85);
}

.odd {
  background-color: #fff;
}

.pagination {
  text-align: left;
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.pagination_link {
  color: #275dff;
  cursor: pointer;
  margin-right: 16px;
}

.current-page {
  color: #000;
}

.favorite-teachers {
  width: 116%;
  margin-left: -8%;
}

.favorites-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.arrow {
  width: 2%;
  display: block;
  margin: auto;
}

.arrow:hover {
  transform: scale(1.1, 1.1);
}

.favorite-teacher-list {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  column-gap: 8.8%;
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
}

.favorite-teacher-list .favorite {
  width: 24%;
}

.favorite-teacher-list .favorite .person {
  width: 100%;
  margin: auto;
}

.favorite-teacher-list .country {
  margin-top: 20px;
}

.text {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  color: #7d66ff;
}

footer a:hover {
  color: #001665;
}

.teacher {
  display: none;
  position: fixed;
  top: 8vh;
  left: 23vw;
  border: 0.2vh solid #000;
  background-color: #fff;
  width: 54vw;
  height: 83vh;
  text-align: left;
  padding: 20px 90px 20px 90px;
  font-size: 1rem;
}

.close-btn {
  cursor: pointer;
  text-align: right;
  position: relative;
}

.teacher .close-btn {
  top: 2vh;
  left: 4vw;
}

.title {
  font-weight: normal;
  text-align: center;
  font-size: 2.8rem;
}

.pic-disc {
  margin-top: 4vh;
}

.pic {
  float: left;
  max-width: 40%;
  margin-right: 3vw;
}

.address,
.age,
.email,
.number {
  font-size: 1rem;
  display: block;
  margin-bottom: 3vh;
  text-decoration: none;
}

.name {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 4vh;
}

.name::after {
  color: yellow;
  font-size: 3rem;
  margin-left: 3vw;
  margin-top: -0.5vh;
  position: absolute;
  content: '\2605';
}

.comment {
  display: table;
  font-size: 1rem;
  width: 100%;
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.map {
  cursor: pointer;
  font-size: 1rem;
  color: #0037ff;
  border-bottom: 0.2vh dashed #0037ff;
}

.bottom {
  color: blue;
}

.bottom:hover {
  color: #0f0fd8;
}

.add-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 35vw;
  border: 0.2vh solid #000;
  background-color: #fff;
  width: 30%;
  height: 99vh;
  font-size: 1rem;
  text-align: left;
}

.add-popup .close-btn {
  top: 3vh;
  right: 1vw;
}

.addForm {
  width: 70%;
  margin: auto;
  margin-top: 3vh;
}

.addForm input:not(.buttons input,
.color,
.add-btn),
.addForm select {
  font-size: 2vh;
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.div-radio {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  margin-bottom: 1vh;
}

.div-color {
  width: 100%;
  height: 4vh;
  line-height: 4vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-img {
  max-width: 2.5vh;
  height: auto;
  position: relative;
  top: 0.3vh;
}

.color {
  box-sizing: border-box;
  width: 4vw;
  height: 3vh;
}

.radio {
  height: 2vh;
  margin-left: 1vw;
}

.active {
  display: block;
}

@media only screen and (max-width: 1400px) {
  .filter-form {
    width: 60%;
  }

  .favorite-teacher-list {
    column-gap: 5.8%;
  }

  .favorite-teacher-list .img-wrapper {
    width: 120px;
    height: 120px;
    line-height: 110px;
    font-size: 1rem;
    border: 4px solid #ff5e5e;
  }

  .teacher {
    padding: 20px 80px;
  }

  .teacher .name {
    font-size: 2rem;
  }

  .add-popup {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1300px) {
  .favorite-teacher-list {
    column-gap: 4.8%;
  }

  .favorite-teacher-list .img-wrapper {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 1rem;
    border: 4px solid #ff5e5e;
  }

  .header_functions_navigation {
    width: 55%;
  }

  .header_functions_add_teacher {
    width: 20%;
  }

  .search-from {
    width: 40%;
  }

  .teacher {
    padding: 20px 70px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1100px) {
  .favorite-teacher-list {
    column-gap: 4.8%;
  }

  .favorite-teacher-list .img-wrapper {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1rem;
    border: 3px solid #ff5e5e;
  }

  .teacher-list {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2%;
  }

  .header_functions_navigation {
    width: 60%;
  }

  .filter-form {
    width: 80%;
  }

  .header_functions_add_teacher {
    width: 22%;
  }

  .teacher {
    padding: 10px 60px;
  }
}

@media only screen and (max-width: 900px) {
  .favorite-teacher-list {
    column-gap: 3.8%;
  }

  .favorite-teacher-list .country {
    font-size: 0.4rem;
  }

  .fullname {
    font-size: 1.5rem;
  }

  .favorite-teacher-list .fullname {
    font-size: 1.2rem;
  }

  .favorite-teacher-list .img-wrapper {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 1rem;
    border: 2px solid #ff5e5e;
  }

  .teacher-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2%;
  }

  .filter-form {
    width: 90%;
  }

  .header_functions_add_teacher {
    width: 25%;
    height: 50px;
  }

  .header_top {
    display: block;
    margin-bottom: 40px;
  }

  .functions {
    display: block;
    height: 100px;
  }

  .header_functions_navigation {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  .logo {
    margin-bottom: 40px;
  }

  .search-from {
    width: 50%;
    margin: auto;
  }

  .teacher {
    padding: 10px 50px;
  }

  .add-popup {
    font-size: 0.8rem;
  }

  .add-popup .title {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .favorite-teacher-list {
    column-gap: 2.8%;
  }

  .favorite-teacher-list .img-wrapper {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1rem;
    border: 2px solid #ff5e5e;
  }

  .fullname {
    font-size: 1rem;
  }

  .header_functions_add_teacher {
    width: 30%;
  }

  .filter-form {
    width: 100%;
  }

  .search-from {
    width: 60%;
  }

  .teacher {
    padding: 10px 40px;
  }

  .teacher .pic {
    max-width: 40%;
  }

  .teacher .name {
    font-size: 2rem;
  }

  .add-popup {
    width: 36%;
    left: 32%;
  }
}

@media only screen and (max-width: 700px) {
  .teacher-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2%;
  }

  .header_functions_navigation {
    width: 100%;
  }

  .header_functions_add_teacher {
    width: 40%;
  }

  .filter-form {
    width: 100%;
    font-size: 0.7rem;
  }

  .favorite-teacher-list {
    column-gap: 1.8%;
  }

  .favorite-teacher-list .country {
    font-size: 0.4rem;
  }

  .favorite-teacher-list .fullname {
    font-size: 0.8rem;
  }

  .favorite-teacher-list .img-wrapper {
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 1rem;
    border: 2px solid #ff5e5e;
  }

  .filter-form .filter-form_label {
    font-size: 0.7rem;
  }

  .search-from {
    width: 70%;
  }

  .teacher {
    padding: 10px 40px;
    text-align: center;
  }

  .teacher .pic {
    float: none;
    max-width: 50%;
  }

  .teacher .name {
    font-size: 2rem;
  }

  .add-popup {
    font-size: 0.4rem;
  }

  .add-popup .title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .teacher-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2%;
  }

  .header_functions_navigation {
    width: 100%;
  }

  .header_functions_add_teacher {
    width: 50%;
  }

  .search-from {
    width: 80%;
  }

  .filter-form {
    width: 100%;
    font-size: 0.6rem;
  }

  .functions {
    height: 300px;
  }

  .favorite-teacher-list {
    column-gap: 1.8%;
  }

  .favorite-teacher-list .country {
    font-size: 0.3rem;
  }

  .favorite-teacher-list .fullname {
    font-size: 0.5rem;
  }

  .favorite-teacher-list .img-wrapper {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    border: 2px solid #ff5e5e;
  }

  .filter-form .filter-form_label {
    font-size: 0.6rem;
  }

  .header_functions_navigation_list {
    display: block;
  }

  .teacher {
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 500px) {
  .search-from {
    width: 100%;
    font-size: 2rem;
  }

  .header_functions_add_teacher {
    width: 60%;
  }

  .favorite-teacher-list {
    column-gap: 1.8%;
  }

  .favorite-teacher-list .country {
    font-size: 0.2rem;
  }

  .favorite-teacher-list .fullname {
    font-size: 0.4rem;
  }

  .favorite-teacher-list .img-wrapper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    border: 1px solid #ff5e5e;
  }

  .logo {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .teacher-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2%;
  }

  .search-from {
    width: 100%;
    font-size: 1.5rem;
  }

  .header_functions_add_teacher {
    width: 70%;
  }

  .favorite-teacher-list {
    column-gap: 1.8%;
  }

  .favorite-teacher-list .country {
    font-size: 0.2rem;
  }

  .favorite-teacher-list .fullname {
    font-size: 0.3rem;
  }

  .favorite-teacher-list .img-wrapper {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.6rem;
    border: 1px solid #ff5e5e;
  }

  .logo {
    font-size: 2.5rem;
  }

  .top-teachers {
    height: 2100px;
  }

  .statistics-table {
    font-size: 0.6rem;
  }

  .teacher {
    padding: 10px 40px;
  }

  .teacher .pic {
    max-width: 80%;
  }

  .teacher .title {
    font-size: 2rem;
  }

  .teacher .name {
    font-size: 1.4rem;
  }

  .teacher .name::after {
    font-size: 1rem;
    margin-left: 20vw;
    margin-top: -30vh;
  }

  .add-popup .div-radio {
    display: block;
    height: 40px;
  }

  .add-popup .title {
    font-size: 1.2rem;
  }

  .add-popup .buttons {
    display: block;
  }

  .add-popup .buttons .radio-label {
    display: block;
  }

  .add-popup .div-color {
    display: block;
    height: 15px;
  }
}
